<div class="main-container">
    <form action="api/users/" method="post">
        <label for="name">Nombre</label>
        <input name="name">
        <label for="lastName">Apellido</label>
        <input name="lastName">
        <label for="age">Edad</label>
        <input type="number" name="age">
        <label for="phone">Teléfono</label>
        <input name="phone">
        <label for="email">Email</label>
        <input name="email">
        <input type="submit" >
    </form>
</div>